nav {
    margin: 0;
    margin-bottom: 15px;
    height: 50px;
    background: gray;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.container {
    padding: 35px 0 0 0;
    border: 4px solid rgb(189, 189, 189);
    border-radius: 15px;
}

.inputTotal {
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.total {
    padding: 10px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 30px;
}

.total input {
    border-radius: 25px;
    height: 30px;
    width: 95%;
    border-radius: 10px;
}


/* teclado */

.btnsCalculator {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.btnNumber {
    margin: 10px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

#btnTotal {
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

.btn {
    background: #d7d7d7;
    border-radius: 15px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 80px;
    height: 80px;
}

.operators {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.btn:hover {
    background-color: antiquewhite;
    box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#clear:hover {
    background: red;
    color: #ffffff;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #808080;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 20px;
}


/* Descktop */

@media only screen and (min-width: 600px) {
    /* input total */
    .containerPrincipal {
        display: flex;
        justify-content: center;
        padding-top: 7vh;
    }
    .container {
        background: rgba(184, 184, 184, 0.069);
        padding: 35px 0 0 0;
        border: 4px solid rgb(189, 189, 189);
        border-radius: 15px;
        width: 30%;
    }
    .inputTotal {
        border-radius: 10px;
        margin: 0 10px;
        display: flex;
        justify-content: center;
    }
    .total {
        background: #ffffff;
        padding: 10px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        border: 1px solid gray;
        text-align: center;
        width: 100%;
        height: 40px;
        font-size: 40px;
    }
    .total input {
        height: 30px;
        width: 95%;
        border-radius: 10px;
    }
    /* teclado */
    .btnsCalculator {
        padding: 10px;
        display: flex;
        flex-direction: row;
    }
    .btnNumber {
        margin: 10px;
        padding: 2px;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .numbers {
        display: flex;
        flex-wrap: wrap;
    }
    #btnTotal {
        height: 164px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid gray;
    }
    .btn {
        font-size: 25px;
        border-radius: 15px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid gray;
        width: 80px;
        height: 80px;
    }
    #clear:hover {
        background: red;
        color: #ffffff;
    }
    .operators {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
    }
    .btn:hover {
        background-color: antiquewhite;
    }
}